<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/simple.min.css" />
  </head>
  <body>
    <h3>WELCOME BACK <%= currentUser.username %></h3>
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/log-out">Log out</a></li>
    </ul>

    <%- include('partials/successMsg.ejs', {success: locals.success}) %> <%-
    include('partials/errorMsg.ejs', {errors: locals.errors}) %>

    <form action="" method="post" enctype="multipart/form-data">
      <input type="file" name="myFile" id="myFile" />
      <button type="submit">Upload File</button>
    </form>
  </body>
</html>
