<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
    <link rel="icon" type="image/x-icon" href="/file.png" />
    <link rel="stylesheet" href="/simple.min.css" />
  </head>
  <body>
    <h1>User</h1>
    <ul>
      <li><b>Username:</b> cat</li>
      <li><b>Password:</b> 123</li>
    </ul>
    <p>Have a account? <a href="/">Log In</a></p>
  </body>
</html>
