<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Uploader</title>
    <link rel="icon" type="image/x-icon" href="/file.png" />
    <link rel="stylesheet" href="/simple.min.css" />
  </head>
  <body>
    <h1>File Uploader</h1>
    <form action="" method="post">
      <%- include('partials/successMsg.ejs', {success: locals.success}) %> <%-
      include('partials/errorMsg.ejs', {errors: locals.errors}) %>
      <label for="username">Username:</label>
      <input type="text" name="username" id="username" />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" />
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" name="confirmPassword" id="confirmPassword" />
      <div>
        <button type="submit">Sign Up</button>
      </div>
    </form>
    <p>Have a account? <a href="/">Log In</a></p>
  </body>
</html>
